#amazon-polly-audio-table {
	display:table;
	width:100%;
	border: 0 !important;
}
#amazon-polly-audio-table tbody {
	border: 0 !important;
}
#amazon-polly-audio-table tr {
	border: 0 !important;
}
#amazon-polly-logo-tab {
width: 60px;
display:table-cell;
vertical-align: top;
padding-bottom: 50px;
}
#amazon-polly-logo {
height: 50px;
width: 50px;
}
#amazon-polly-audio-tab {
width: auto;
display:table-cell;
border: 0;
}
#amazon-polly-label-tab {
font-size: 80%;
font-family: "Arial", Helvetica, sans-serif;
}
#amazon-polly-by-tab {
font-size: .6em;
text-align: right;
}
#amazon-polly-trans-src {
	font-weight: bold;
}
.amazon-polly-trans-label  {
	display:inline;
	font-size: .6em;
}
.amazon-polly-audio-player {
width: 100%;
}
.amazon-polly-transcript-area {
    height: 6em;
    width: 100%;
}
