/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */
.ui-progressbar {
  position: relative;
  margin-top: 1em;
}
.amazon-polly-progress-label {
  position: absolute;
  left: 45%;
  top: 4px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
  display: none;
}
#label_amazon_polly_update_all, #amazon_polly_update_all_pricing_message {
  display: none;
}
#amazon-polly-translate-reminder {
  font-size: .8em;
  color: blue;
}
